/* variables */

:root {
  /* dimensions */
  --container-width-sm: 94%;
  --container-width-md: 90%;
  --container-width-lg: 80%;
  /* neutral colors */
  --color-background: #0c0c0f;
  --color-comment: #a6aab8;
  --color-current: #3b3e4e;
  --color-foreground: #f8f8f2;
  /* colors */
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: var(--container-width-lg);
  min-width: var(--container-width-lg);
  min-height: 99%;
  padding: 15px 20px;
  font-family: cursor, monospace;
  font-size: 14px;
  color: var(--color-foreground);
  background-color: var(--color-background);
  overflow-x: hidden;
}

/* start */

p {
  display: block;
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 0.5s steps(30, end);
}

a {
  color: var(--color-cyan);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-background);
  background: var(--color-pink);
}

b {
  font-weight: bold;
  text-decoration: underline;
}

textarea {
  position: absolute;
  left: -1000px;
}

.margin {
  margin-left: 20px;
}

.comment {
  color: var(--color-comment);
}

.tag {
  color: var(--color-current);
}

.foreground {
  color: var(--color-foreground);
}

.command {
  color: var(--color-green);
  text-shadow: 0 0 5px var(--color-green);
}

.info {
  color: var(--color-yellow);
}

.description {
  color: var(--color-purple);
}

.error {
  color: var(--color-red);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

::selection {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

::-moz-selection {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

/* cursor */

.cursor {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 1.2rem;
  max-width: 10px;
  font-size: 12px;
  color: var(--color-foreground);
  text-indent: -5px;
  text-decoration: blink;
  background-color: var(--color-foreground);
  opacity: 1;
  transform: translateY(4px);
  overflow: hidden;
  animation: blinker 1s linear infinite;
}

#cursor-command {
  height: 50px;
  color: var(--color-green);
  cursor: text;
}

#cursor-line {
  margin-top: -2px;
  line-height: 1.2rem;
  opacity: 0;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
}

#cursor-line::before {
  content: "user@ynncstslv.io~$";
  color: var(--color-pink);
}

#cursor-line.password::before {
  content: "Password:";
  color: var(--color-red);
}

/* mobile */

@media screen and (max-width: 440px) {
}

/* animations */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
